.container
  .row
    .col-md-12
      %h1.text-center The quickest, easiest way to compare bike geometries

.select-a-bike
  .container
    .row
      .col-md-12
        .text-center
          %h2 Select a bike

          = form_tag geometries_path, class: 'form-inline', remote: true do
            .row
              .col-md-12
                .form-group
                  = select_tag :year, options_for_year, prompt: 'Year', class: 'form-control'
                .form-group
                  = select_tag :manufacturer_id, options_for_manufacturer, prompt: 'Manufacturer', class: 'form-control'
                .form-group
                  = select_tag :model_id, grouped_options_for_model, prompt: 'Model', class: 'form-control'
                .form-group
                  = select_tag :size_id, grouped_options_for_size, prompt: 'Size', class: 'form-control'
            .row
              .col-md-12
                .form-group
                  = submit_tag "Add", class: 'btn btn-large btn-success'

.container
  %h2.text-center Geometry Comparison

  .row
    .col-md-12
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th &nbsp;
              %th Size
              - Size::GEOMETRY_ATTRIBUTES.each do |attribute|
                %th= attribute.humanize
          %tbody

  .row.getting-started
    .col-md-4.col-md-offset-4
      .alert.alert-info.text-center Add a bike to get started

  .row
    .col-md-12
      %small *Lengths displayed in mm
