.container
  .row
    .col-md-12
      %h1.text-center The quickest, easiest way to compare bike geometries

  .row
    .col-md-12
      %h2 Select a bike
      .well
        = form_tag geometries_path, remote: true do
          %div
            = select_tag :year, options_for_year, prompt: 'Year'

          %div
            = select_tag :manufacturer_id, options_for_manufacturer, prompt: 'Manufacturer'

          %div
            = select_tag :model_id, grouped_options_for_model, prompt: 'Model'

          %div
            = select_tag :size_id, grouped_options_for_size, prompt: 'Size'
          %div
            = submit_tag "Add"

.container
  %h1 Geometry Comparison

  .row
    .col-md-12
      %table.table.table-striped
        %thead
          %tr
            %th &nbsp;
            %th Size
            - Size::GEOMETRY_ATTRIBUTES.each do |attribute|
              %th= attribute.humanize
        %tbody
          - @models.each do |model|
            - model.sizes.each do |size|
              = render 'geometries/geometry', model: model, size: size

  .row
    .col-md-12
      %small *Lengths displayed in mm
